	<div >
		<div id="tabstrip" class="tabstrip-override" >
			<ul >
				<li class="k-state-active">
					<img src="/images/glyphish/gray/38-airplane.png" width="16"> &nbsp; Flights
				</li>
				<li>
					<img src="/images/glyphish/gray/53-house.png" width="16"> &nbsp; Hotels
				</li>
			</ul>
			<div class="voodoo" style="border:0">
				<%= render :partial => "flights" %>
			</div>

			<div class="voodoo">
				<%= render :partial => "hotels" %>
			</div>
		</div>
	</div>

    <script>
    
        $(document).ready(function() {
            $("#tabstrip").kendoTabStrip({
				animation:	{
					open: {
						effects: "fadeIn"
					}
				}
			
			});
        });
        
    </script>
