
<div class="row">
  <div class="four column centered" style="background-color: red; height:100px; bottom:0">
    <%= render :partial => "header" %>
  </div>
</div>  

<div class="row">
  <div class="two columns" style="height:558px; background-color: whitesmoke;">
    Left Padding  
  </div>

  <div class="eight columns" style="height: 558px">

    <%= render :partial => "flight_control" %>

  </div>  

  <div class="two columns" style="height:558px; background-color: whitesmoke;">
    Right Padding
  </div>
</div>

<div class="row">
  <div class="four column centered" style="background-color: red; height:100px; bottom:0">
    <%= render :partial => "footer" %>
  </div>
</div>  

