<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
    <link href='images/favicon.ico' type='image/x-icon' rel='shortcut icon'>
    <link href='http://fonts.googleapis.com/css?family=Abel|Cabin:400,700' rel='stylesheet'>
    <!--[if IE 8]>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet'>
	<![endif]-->
    <link href="css/style.css" rel="stylesheet">
    <script src="js/jquery-1.7.2.min.js"></script>    
    <script src="js/scripts.js"></script>
    <!--[if lt IE 9]>
  	<script src="js/html5.js"></script>
    <link rel="stylesheet" href="css/ie.css" media="all">
    <![endif]-->
	<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="//windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a>
		</div>
	<![endif]-->
</head>
<body>
    <div id="glob">
        <div class="spinner"></div>
		
        <!-- CONTENT -->
        <section id="content">
            <div id="splash">
                <h1><a href="#!/page_home">קדברה</a></h1>
                <!-- MENU -->
                <nav class="menu">
                    <ul id="menu">
                        <li class="no_disp"><a href="#!/page_home">קדברה</a><strong></strong><span></span><em></em></li>
                        <li class="with_ul"><a href="#!/page_about">אודות</a><strong></strong><span></span><em></em>
                            <ul class="submenu_1">
                                <li><a href="#!/page_more1">צוות שלנו</a></li>                                
                                <li><a href="#!/page_more1">חדשות</a></li>             				    
                                <li><a href="#!/page_more1">שרותים</a></li>
               				</ul>
                        </li>
                        <li><a href="#!/page_tours">חבילות</a><strong></strong><span></span><em></em></li>
                        <li><a href="#!/page_hotels">בתי מלון</a><strong></strong><span></span><em></em></li>
                        <li><a href="#!/page_mail">אנשי קשר</a><strong></strong><span></span><em></em></li>
                        <li><a href="#!/page_reservation">הזמנות</a><strong></strong><span></span><em></em></li>
                	</ul>
           	    </nav>
                <!-- END MENU -->
            </div>
            <ul>
                <li id="page_home" class="no_disp"></li>
                <li id="page_about"><div class="rel"><span></span><span></span></div>
                    <a href="#!/page_home" class="closeBtn"><strong></strong><span>back to main<span>back to main</span></span></a>
                    <div class="container">
                        <div class="col1 ">
                            <div class="wrapper pad1">
                                <h2>news <span class="color3">&amp;</span> events</h2>
                                <div class="hr"></div>
                                <div class="scroll">
                                    <ul class="list1">
                                        <li>
                                            <div class="date"><span>15</span><span>june</span></div>
                                            <div class="box">
                                                <p><span class="color1">Keliasraent vesertyase</span><br>umy hendrerit maurie enastret laserase ortasc cvarius natoqibe ktyesrta.</p>
                                                <p><a href="#!/page_more1" class="readMore">read more</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="date"><span>12</span><span>june</span></div>
                                            <div class="box">
                                                <p><span class="color1">uoeser tKeliasraent veyase</span><br>umy hendrerit maurie enastret laserase ortasc cvarius erta et magnis ere.</p>
                                                <p><a href="#!/page_more1" class="readMore">read more</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="date"><span>10</span><span>june</span></div>
                                            <div class="box">
                                                <p><span class="color1">Keliasraent vesertyase</span><br>umy hendrerit maurie enastret laserase ortasc cvarius natoqibe ktyesrta.</p>
                                                <p><a href="#!/page_more1" class="readMore">read more</a></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="alc">
                                    <div class="scrollBtns">
                                        <a href="#" class="scrollDown"></a>
                                        <a href="#" class="scrollUp"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_tours"><div class="rel"><span></span><span></span></div>
                    <a href="#!/page_home" class="closeBtn"><strong></strong><span>back to main<span>back to main</span></span></a>
                    <div class="container">
                        <div class="col1 ">
                            <div class="wrapper pad1">
                                <h2>hot tours</h2>
                                <div class="hr"></div>
                                <div class="scroll">
                                    <ul class="list2">
                                        <li>
                                            <img src="images/page3_pic1.png" alt>
                                            <div class="box">
                                                <p><span class="color1 ws">Venice       $780</span><br>umy hendrerit maurie enastret laserase ortasc cvarius natoqibe ktyesrta.</p>
                                                <p><a href="#!/page_more2" class="readMore">read more</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="images/page3_pic2.png" alt>
                                            <div class="box">
                                                <p><span class="color1 ws">Miami       $999</span><br>umy hendrerit maurie enastret laserase ortasc cvarius erta et magnis ere.</p>
                                                <p><a href="#!/page_more2" class="readMore">read more</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="images/page3_pic1.png" alt>
                                            <div class="box">
                                                <p><span class="color1 ws">Keliasraent      $670</span><br>umy hendrerit maurie enastret laserase ortasc cvarius natoqibe ktyesrta.</p>
                                                <p><a href="#!/page_more2" class="readMore">read more</a></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="alc">
                                    <div class="scrollBtns">
                                        <a href="#" class="scrollDown"></a>
                                        <a href="#" class="scrollUp"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_hotels"><div class="rel"><span></span><span></span></div>
                    <a href="#!/page_home" class="closeBtn"><strong></strong><span>back to main<span>back to main</span></span></a>
                    <div class="container">
                        <div class="col1 ">
                            <div class="wrapper pad1">
                                <h2>the best hotels</h2>
                                <div class="hr"></div>
                                <div class="scroll">
                                    <ul class="list2">
                                        <li>
                                            <img src="images/page4_pic1.png" alt>
                                            <div class="box">
                                                <p><span class="color1">Vestibulum iaculis lacinia est</span><br>umy hendrerit maurie enastret laserase ortasc cvarius natoqibe tyas ktyesrta.</p>
                                                <p><a href="#!/page_more3" class="readMore">read more</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="images/page4_pic2.png" alt>
                                            <div class="box">
                                                <p><span class="color1">Proin dictum elementum velit</span><br>umy hendrerit maurie enastret laserase ortasc cvarius erta et magnis ere.</p>
                                                <p><a href="#!/page_more3" class="readMore">read more</a></p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="images/page4_pic1.png" alt>
                                            <div class="box">
                                                <p><span class="color1">laserase ortasc cvarius</span><br>umy hendrerit maurie enastret laserase ortasc cvarius natoqibe tyas ktyesrta.</p>
                                                <p><a href="#!/page_more3" class="readMore">read more</a></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="alc">
                                    <div class="scrollBtns">
                                        <a href="#" class="scrollDown"></a>
                                        <a href="#" class="scrollUp"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_mail"><div class="rel"><span></span><span></span></div>
                    <a href="#!/page_home" class="closeBtn"><strong></strong><span>back to main<span>back to main</span></span></a>
                    <div class="container">
                        <div class="col1 ">
                            <div class="wrapper pad1">
                                <h2>contact info</h2>
                                <div class="hr"></div>
                                <figure class="google_map"></figure>
                                <p><span class="w2">Telephone:</span>+1 800 603 6035<br>E-mail: <a href="#" class="color2">mail@demolink.org</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_reservation" style="text-align:right"> <!-- RTL-->
					<div class="rel"><span></span><span></span></div>
                     <a href="#!/page_home" class="closeBtn"><strong></strong><span>back to main<span>back to main</span></span></a>
                     <div class="container">
                        <div class="col2">
                            <div class="wrapper pad1">
                                <h2>הזמנות</h2>
                                <div class="hr"></div>
								<!-- RTL-->
                                <div class="form1Holder" style="direction:rtl">
                                    <form id="form1">
                                        <label class="name">
                                            <span>שם המטייל:</span>
                                  		    <input type="text" name="name">
                                        </label><br>
                                        <label class="email">
                                            <span>דואר אלקטרוני:</span>
                                            <input type="text" name="email">
                                    	</label><br>
                                   		<label class="phone">
                                            <span>טלפון בבית:</span>
                                            <input type="text" name="phone">
                                   		</label><br>
                                        <span class="w1">משך השהייה:</span>
                                    	<select class="select_1" name="len" >
    										<option value="opt1">1</option>
    										<option value="opt2">2</option>
    										<option value="opt3">3</option>
    										<option value="opt4">4</option>
    									</select><br>
                                        <span class="w1">מספר אנשים:</span>
    									<select class="select_1" name="number" >
    										<option value="opt1">1</option>
    										<option value="opt2">2</option>
    										<option value="opt3">3</option>
    										<option value="opt4">4</option>
    									</select><br>
                                        <span class="w1">תאריך הגעה:</span>
                                        <select class="select_2" name="date" >
    										<option value="opt1">חודש</option>
    										<option value="opt2">ינואר</option>
    										<option value="opt3">פברואר</option>
    										<option value="opt4">מרץ</option>
    										<option value="opt5">אפריל</option>
    										<option value="opt6">מאי</option>
    										<option value="opt7">יוני</option>
    										<option value="opt8">יולי</option>
    										<option value="opt9">אוגודט</option>
    										<option value="opt10">ספטמבר</option>
    										<option value="opt11">אוקטובר</option>
    										<option value="opt12">נובמבר</option>
    										<option value="opt13">דצמבר</option>
    									</select>
                                        <select class="select_3" name="day" >
    										<option value="opt1">יום</option>
    										<option value="opt2">1</option>
    										<option value="opt3">2</option>
    										<option value="opt4">3</option>
    										<option value="opt5">4</option>
    										<option value="opt6">5</option>
    										<option value="opt7">6</option>
    										<option value="opt8">7</option>
    										<option value="opt9">8</option>
    										<option value="opt10">9</option>
    										<option value="opt11">10</option>
    										<option value="opt12">11</option>
    										<option value="opt13">12</option>
    										<option value="opt14">13</option>
    										<option value="opt15">14</option>
    										<option value="opt16">15</option>
    										<option value="opt17">16</option>
    										<option value="opt18">17</option>
    										<option value="opt19">18</option>
    										<option value="opt20">19</option>
    										<option value="opt21">20</option>
    										<option value="opt22">21</option>
    										<option value="opt23">22</option>
    										<option value="opt24">23</option>
    										<option value="opt25">24</option>
    										<option value="opt26">25</option>
    										<option value="opt27">26</option>
    										<option value="opt28">27</option>
    										<option value="opt29">28</option>
    										<option value="opt30">29</option>
    										<option value="opt31">30</option>
    										<option value="opt32">31</option>
    									</select>
                                        <select class="select_4" name="year" >
    										<option value="opt1">שנה</option>
    										<option value="opt2">2012</option>
    										<option value="opt3">2013</option>
    										<option value="opt4">2014</option>
    									</select><br>
                                        <label class="message">
                                           <span class="w1">תגובות <br> נוספות:</span>
                                    	   <textarea></textarea>
    									</label><br>
                                        <div class="searchButton">
                                            <a href="#" class="clearBtn readMore2">נקה</a><a class="readMore2" onclick="document.getElementById('form1').submit()">חפש</a>
                                        </div>
    								</form>
                                </div>
                            </div>
                        </div>
                    </div>    
                </li>
                <li id="page_privacy" class="page_more"><div class="rel"><span></span><span></span></div>
                    <a href="#!/page_home" class="closeBtn"><strong></strong><span>back to main<span>back to main</span></span></a>
                    <div class="container">
                        <div class="col1">
                            <div class="wrapper pad1">
                                <h2>privacy policy</h2>
                                <div class="hr"></div>
                                <p class="pad2"><span class="color1">Keliasraent vesertyase  ster spoe trsem.</span><br>umy hendrerit maurie enastret laserase ortasc cvarius cinaya natoqibe tyas ktFusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer. </p>
                                <p><span class="color1">Pellentesque sed dolor. Aliquam congue fe.</span><br>mentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibu.</p>
                                <p><span class="color1">Keliasraent vesertyase  ster spoe trsem.</span><br>umy hendrerit maurie enastret laserase ortasc cvarius cinaya natoqibe tyas ktFusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer. </p>
                                <p><a href="#" class="color1">privacy@demolink.org</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_more1" class="page_more1"><div class="rel"><span></span><span></span></div>
                    <a href="#!/page_home" class="closeBtn"><strong></strong><span>back to main<span>back to main</span></span></a>
                    <div class="container">
                        <div class="col1 ">
                            <div class="wrapper pad1">
                                <h2>lorem ipsum</h2>
                                <div class="hr"></div>
                                <p class="pad2"><span class="color1">Keliasraent vesertyase  ster spoe trsem.</span><br>umy hendrerit maurie enastret laserase ortasc cvarius cinaya natoqibe tyas ktFusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                                <p><span class="color1">Pellentesque sed dolor. Aliquam congue fe.</span><br>mentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibu.</p>
                                <p><span class="color1">Keliasraent vesertyase  ster spoe trsem.</span><br>umy hendrerit maurie enastret laserase ortasc cvarius cinaya natoqibe tyas ktFusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_more2" class="page_more2"><div class="rel"><span></span><span></span></div>
                    <a href="#!/page_home" class="closeBtn"><strong></strong><span>back to main<span>back to main</span></span></a>
                    <div class="container">
                        <div class="col1 ">
                            <div class="wrapper pad1">
                                <h2>lorem ipsum</h2>
                                <div class="hr"></div>
                                <p class="pad2"><span class="color1">Keliasraent vesertyase  ster spoe trsem.</span><br>umy hendrerit maurie enastret laserase ortasc cvarius cinaya natoqibe tyas ktFusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                                <p><span class="color1">Pellentesque sed dolor. Aliquam congue fe.</span><br>mentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibu.</p>
                                <p><span class="color1">Keliasraent vesertyase  ster spoe trsem.</span><br>umy hendrerit maurie enastret laserase ortasc cvarius cinaya natoqibe tyas ktFusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_more3" class="page_more3"><div class="rel"><span></span><span></span></div>
                    <a href="#!/page_home" class="closeBtn"><strong></strong><span>back to main<span>back to main</span></span></a>
                    <div class="container">
                        <div class="col1 ">
                            <div class="wrapper pad1">
                                <h2>lorem ipsum</h2>
                                <div class="hr"></div>
                                <p class="pad2"><span class="color1">Keliasraent vesertyase  ster spoe trsem.</span><br>umy hendrerit maurie enastret laserase ortasc cvarius cinaya natoqibe tyas ktFusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                                <p><span class="color1">Pellentesque sed dolor. Aliquam congue fe.</span><br>mentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibu.</p>
                                <p><span class="color1">Keliasraent vesertyase  ster spoe trsem.</span><br>umy hendrerit maurie enastret laserase ortasc cvarius cinaya natoqibe tyas ktFusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_more4" class="page_more4"><div class="rel"><span></span><span></span></div>
                    <a href="#!/page_home" class="closeBtn"><strong></strong><span>back to main<span>back to main</span></span></a>
                    <div class="container">
                        <div class="col1 ">
                            <div class="wrapper pad1">
                                <h2>lorem ipsum</h2>
                                <div class="hr"></div>
                                <p class="pad2"><span class="color1">Keliasraent vesertyase  ster spoe trsem.</span><br>umy hendrerit maurie enastret laserase ortasc cvarius cinaya natoqibe tyas ktFusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                                <p><span class="color1">Pellentesque sed dolor. Aliquam congue fe.</span><br>mentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibu.</p>
                                <p><span class="color1">Keliasraent vesertyase  ster spoe trsem.</span><br>umy hendrerit maurie enastret laserase ortasc cvarius cinaya natoqibe tyas ktFusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="page_more5" class="page_more5"><div class="rel"><span></span><span></span></div>
                    <a href="#!/page_home" class="closeBtn"><strong></strong><span>back to main<span>back to main</span></span></a>
                    <div class="container">
                        <div class="col1 ">
                            <div class="wrapper pad1">
                                <h2>lorem ipsum</h2>
                                <div class="hr"></div>
                                <p class="pad2"><span class="color1">Keliasraent vesertyase  ster spoe trsem.</span><br>umy hendrerit maurie enastret laserase ortasc cvarius cinaya natoqibe tyas ktFusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                                <p><span class="color1">Pellentesque sed dolor. Aliquam congue fe.</span><br>mentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibu.</p>
                                <p><span class="color1">Keliasraent vesertyase  ster spoe trsem.</span><br>umy hendrerit maurie enastret laserase ortasc cvarius cinaya natoqibe tyas ktFusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>   
        </section>
        <!-- END CONTENT -->
        <!-- FOOTER -->
        <footer>            
            <p>Kadabra &copy; 2012<span></span><a href="#!/page_privacy">מדיניות פרטיות</a></p>
            <!-- {%FOOTER_LINK} -->
            <ul class="soc_links">
                <li><a href="#"><img src="images/footer_icon1.png" alt></a></li>
                <li><a href="#"><img src="images/footer_icon2.png" alt></a></li>
            </ul>
        </footer>
        <!-- END FOOTER -->
    </div>
</body>
</html>