/* -----------------for pie------------------- */
#menu>li:first-child+li{
background: url(../images/menu_bg1.png) center no-repeat;
}
#menu>li:first-child+li+li{
background: url(../images/menu_bg2.png) center no-repeat;
}
#menu>li:first-child+li+li+li{
background: url(../images/menu_bg3.png) center no-repeat;
}
#menu>li:first-child+li+li+li+li{
background: url(../images/menu_bg4.png) center no-repeat;
}
#menu>li:first-child+li+li+li+li+li{
background: url(../images/menu_bg5.png) center no-repeat;
}
#content>ul>li{
background: url(../images/content_bg_big.png) center no-repeat;
}

.readMore2,.date,.closeBtn>strong{position: relative; behavior: url(js/PIE.htc); }
.submenu_1,.submenu_2{position: absolute; behavior: url(js/PIE.htc); }