/* ===========================forms======================== */
.form1Holder{width: 100%;padding: 40px 0 0 1px;height: 357px;position: relative;display: block;}
#form1{
	text-transform: none;
	width: 100%;
	font-size: 11px;
	height: 100%;
	position: relative;
	line-height: 13px;
}
#form1>a{
	float: left;
	text-transform: uppercase;
	font-size: 10px;
}

#form1 select{
	visibility: hidden;
	float: left;
}

.select_1,.select_2,.select_3,.select_4{
    position: relative;
    float: left;
    display: inline-block;
}
.select_1{
	width: 63px;
}
.select_2{
	width: 49px;
}
.select_3{
	width: 32px;
}
.select_4{
	width: 46px;
}

.searchButton{
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 28px;
    right: 9px;
}
.searchButton>a{
margin-left: 11px;
cursor: pointer;
}

.radioHolder{
    position: relative;
    float: left;
    padding-top: 25px;
}
.radioHolder > ul{}
.radioHolder ul >li{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 5px;
}
.radioText{
    color: #5f5f5f;
    font-size: 13px;
    margin-left: 10px;
}
.inp1{width: 150px;position: relative;float: left;display: block;}
.inp2{width: 150px;position: relative;float: left;display: block; padding-top: 15px;}
/* -------------
 * Inputs
 * ------------- */
.jqTransformInputWrapper {
	height: 18px;
	padding: 0px;
	border: none;
	width: 190px;
	display: inline-block;
	background: #fff;
}
.jqTransformInputInner {
	padding: 0px;
	margin: 0px;
}
.jqTransformInputInner div {
	height: 18px;
	margin:0px 0px 0px 8px;
}
.jqTransformInputInner div input {
	font-family:Tahoma, sans-serif;
	font-size: 10px;
	line-height: 22px;
	vertical-align: middle;
	height: 26px;
	color: #848485;	
	border: none;
	background:transparent;
}
/*  IE6 */
* html .jqTransformInputInner div input {
	padding: 6px 0 0 0;
	margin: 0 0 0 -8px;
	height:24px;
}
/* Ie7 */
*+ html .jqTransformInputInner div input {
	padding: 6px 0 0 0;
	margin-left:-10px;
	height:24px;
}
/*hover*/
.jqTransformInputWrapper_hover{ background-position: left -31px ;}
.jqTransformInputWrapper_hover div.jqTransformInputInner{ background-position: right -31px ;}

/*focus*/
.jqTransformInputWrapper_focus{ background-position: left -62px ;}
.jqTransformInputWrapper_focus div.jqTransformInputInner{ background-position: right -62px ;}
.jqTransformSafari .jqTransformInputInner div {
	position: relative;
	overflow: hidden;
	margin: 0px;
}
.jqTransformSafari .jqTransformInputInner div input {
	background-color: none;
	position: absolute; 
}
/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 100%;
	position:relative;
	height: 18px;
	background: #fff;
	display: inline-block;
	margin: 0 0 11px 0;
}
.jqTransformSelectWrapper>div{
    display: inline-block;
    width: 100%;
}
.jqTransformSelectWrapper div span, #form1 .jqTransformSelectWrapper div span {
	font-size: 10px;
	float: none;
	position: absolute;
	white-space: nowrap;
	height: 18px;
	overflow: hidden;
	cursor:pointer;
	padding: 3px 9px;
	color: #000;
}
.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: -1px;
	width: 19px;
	height: 19px;
	background: url(../images/combo.png) no-repeat 50% 50%;
	top: -1px;
}
.jqTransformSelectWrapper ul {
	position: absolute;
	width: 100%;
	top: 18px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 91px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
}
.jqTransformSelectWrapper ul a {
	display: block;
	padding-left: 9px;
	text-decoration: none;
	color: #000;
	background-color: #FFF;
	font-size: 10px;
	line-height: 18px;
}

.jqTransformSelectWrapper ul a.selected {
	background: #d8d8d8;
	color: #000;
}
.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background: #ded830;
	color: #000;
}
/* -------------
 * Radios
 * ------------- */
.jqTransformRadioWrapper {float: left;display:block;	}
.jqTransformRadio {
	background: transparent url(../images/radio.png) no-repeat center top;
	vertical-align: middle;
	height: 19px;
	width: 19px;
	display:block;/*display: -moz-inline-block;*/
}
/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked { background-position: center bottom;}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}

.jqTransformTextarea{
    display: inline-block;
    width: 193px;
    padding: 0;
    margin-left: -3px;
}
#jqTransformTextarea-ml{
    width: 0;
}
#form1 input {
    position: relative;
    color: #2D2D2D;
    line-height: 17px;
    padding: 0px 9px;
    width: 172px;
    outline:none;
    box-shadow:none;
    margin: 0;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    height: 18px;
}
#form1 textarea {
    position: relative;
    color:#2d2d2d;
    line-height: 13px;
    padding: 4px 9px;
    width: 172px;
    height: 107px;
    overflow:auto;
    outline:none;
    resize: none;
    border: none;
    background: #fff;
    text-transform: uppercase;
}
#form1 label {
    display:inline-block;
    min-height: 29px;
    position: relative;
    width: 288px;
}
#form1 label.message{
   width: 382px;
}
#form1 label span,#form1>div>span,span.w1 {
    width: 94px;
}
#form1 span{
    position: relative;
    display: inline-block;
    line-height: 13px;
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 3px;
    white-space: nowrap;
}
input, select, textarea {
    font-family: Arial, sans-serif;
    vertical-align:middle;
    font-weight:normal;
    font-size: 10px;
}